<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysSubjectMapper">


    <resultMap id="subjectInfoResult" type="SysSubjectInfo">

        <id property="subjectInfoId" column="subject_info_id"/>
        <result property="subjectId" column="subject_id"/>
        <result property="name" column="name"/>
        <result property="context" column="context"/>
        <result property="knowledge" column="knowledge"/>
        <result property="updateText" column="update_text"/>
        <result property="plannedTime" column="planned_time"/>
        <result property="status" column="status"/>
        <result property="fileUrl" column="file_url"/>
        <result property="videoUrl" column="video_url"/>
    </resultMap>

    <select id="getSubjectInfo" parameterType="SysQueryDto" resultType="Map">
        select t.* from sys_subject_info t where t.subject_id=#{id} and t.status=1
        <bind name="pattern" value="'%' + keyWord + '%'"/>
        <if test="keyWord !=null and keyWord!=''">and name like #{pattern}</if>
        order by t.subject_info_id asc
    </select>
    <select id="getSubjectInfoById" parameterType="int" resultType="SysSubjectInfo">
        select t.*
        from sys_subject_info t
        where t.subject_info_id = #{id}
          and t.status = 1
    </select>
    <select id="getSubsectionList" parameterType="SysQueryDto" resultType="SysSubjectSubsection">
        select t.* from sys_subject_subsection t where t.subject_info_id=#{id} and t.status=1
        <bind name="pattern" value="'%' + keyWord + '%'"/>
        <if test="keyWord !=null and keyWord!=''">and name like #{pattern}</if>
    </select>
    <select id="getSubjectTypeList" resultType="SysSubjectType">
        select t.*
        from sys_subject_type t
        where t.status = 1
        order by t.subject_type_id asc

    </select>
    <select id="getSubject" parameterType="String" resultType="sysSubject">
        select t.* from sys_subject t where t.status=1
        <if test="subjectTypeId != null and subjectTypeId !=0">and t.subject_type_id = #{subjectTypeId}</if>

        order by t.subject_id asc

    </select>

    <select id="getSubjectTypeByUserList" parameterType="Integer" resultType="SysSubjectType">
        select t.*
        from sys_subject_type t
                 left join sys_subject sst on t.subject_type_id = sst.subject_type_id
        where sst.subject_id in (select DISTINCT(subject_id) from sys_student_subject where user_id = #{userId})
        GROUP BY t.subject_type_id;
    </select>

    <select id="getSubjectListByUser" parameterType="Map" resultType="SysSubject">
        select t.*
        from sys_subject t
        where t.subject_id in (select DISTINCT(subject_id) from sys_student_subject where user_id = #{user_id})
          and subject_type_id = #{subject_type_id};
    </select>

    <select id="getSubjectInfoListByUser" parameterType="Map" resultType="SysSubjectInfo">
        select t.*
        from sys_subject_info t
                 inner join sys_student_subject s on t.subject_info_id = s.subject_info_id
        where s.user_id = #{userId}
          and s.subject_id = #{subjectId}
          and s.`status` = 1

    </select>
    <select id="getSubsectionCloudByUserIdAndSubsectionId" parameterType="SysSubsectionFile"
            resultType="SysSubsectionFile">
        select *
        from sys_student_subsection
        where user_id = #{user_id}
          and subsection_id = #{subsection_id}
    </select>
    <update id="updateSubject" parameterType="SysSubject">
        update sys_subject
        <set>
            subject_name=#{subject_name},subject_context=#{subject_context},class_time=#{class_time},image=#{image}
        </set>
        where subject_id=#{subject_id}
    </update>
    <update id="updateSubjectInfo" parameterType="SysSubjectInfo">
        update sys_subject_info
        <set>

            <if test="name != null and name != ''">name = #{name},</if>
            <if test="context != null and context != ''">context = #{context},</if>
            <if test="knowledge != null and knowledge != ''">knowledge = #{knowledge},</if>
            <if test="knowledge_num != null and knowledge_num != ''">knowledge_num = #{knowledge_num},</if>
            <if test="update_text != null and update_text != ''">update_text = #{update_text},</if>
            <if test="planned_time != null and planned_time != ''">planned_time = #{planned_time},</if>
            <if test="status != null ">status=#{status} ,</if>
            <if test="url != null and url != ''">url=#{url} ,</if>
            <if test="type != null ">type=#{type} ,</if>
            <if test="pdf_url != null and pdf_url != ''">pdf_url=#{pdf_url}</if>
        </set>
        where subject_info_id = #{subject_info_id}
    </update>
    <update id="updateSubjectSubsection" parameterType="SysSubjectSubsection">
        update sys_subject_subsection
        <set>

            <if test="name != null and name != ''">name = #{name},</if>
            <if test="video_url != null and video_url != ''">video_url = #{video_url},</if>
            <if test="file_url != null and file_url != ''">file_url = #{file_url},</if>

            <if test="status != null ">status=#{status},</if>
            <if test="type != null ">type=#{type}</if>

        </set>
        where id = #{id}
    </update>

    <insert id="insertSubject" parameterType="SysSubject">
        insert into sys_subject(subject_type_id, subject_name, subject_context, class_time, status, image)
        values (#{subject_type_id}, #{subject_name}, #{subject_context}, #{class_time}, 1, #{image})

    </insert>

    <insert id="insertSubjectSubsection" parameterType="SysSubjectSubsection">
        insert into sys_subject_subsection(subject_info_id, name, video_url, file_url, status,type)
        values (#{subject_info_id}, #{name}, #{video_url}, #{file_url}, 1,#{type})

    </insert>

    <insert id="insertSubjectInfo" parameterType="SysSubjectInfo">
        insert into sys_subject_info(subject_id, name, context, knowledge, update_text, knowledge_num, planned_time,
                                     status, url, type, pdf_url)
        values (#{subject_id}, #{name}, #{context}, #{knowledge}, #{update_text}, #{knowledge_num}, #{planned_time}, 1,
                #{url}, #{type}, #{pdf_url})
    </insert>

    <update id="subsectionCloudAddOrUpdate" parameterType="SysSubsectionFile">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            select count(*) from sys_student_subsection where user_id=#{user_id} and subsection_id=#{subsection_id}
        </selectKey>
        <if test="count>0">
            update sys_student_subsection <set>file_url=#{file_url},update_time=#{update_time}</set> where user_id=#{user_id} and subsection_id=#{subsection_id}
        </if>
        <if test="count==0">
            insert into sys_student_subsection (user_id,subsection_id,file_url,update_time) values
            (#{user_id},#{subsection_id},#{file_url},#{update_time})

        </if>

    </update>

    <delete id="deleteSubjectSubsection" parameterType="int">
        delete
        from sys_subject_subsection
        where id = #{id}
    </delete>
    <delete id="deleteSubject" parameterType="int">
        update
            sys_subject
        set status=0
        where subject_id = #{id}
    </delete>
    <delete id="deleteSubjectInfo" parameterType="long">
        delete from
        sys_subject_info
        where subject_info_id = #{id}
    </delete>


</mapper>


